/* unvisited link */
a:link {
    font-weight: bold;
    color: #CC3333;
}

/* visited link */
a:visited {
    font-weight: bold;
    color: #CC3333;
}

/* mouse over link */
a:hover {
    font-weight: bold;
    color: #f44242;
}

/* selected link */
a:active {
    font-weight: bold;
    color: blue;
}
