$primary-red: red;
/* unvisited link */
.problemtitle{
  a:link {
    font-weight: bold;
    color: $primary-red;
  }

  /* visited link */
  a:active {
    font-weight: bold;
    color: #CC3333;
  }

  /* mouse over link */
  a:hover {
    font-weight: bold;
    color: #f44242;
  }

  a:visited {
    font-weight: bold;
    color: $primary-red;
  }
}
