
html {
  height: 100%;
}
body {
  background:linear-gradient(#ffffff,#E9EBEE);

  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




.problem {
  color: red;
}