body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  color: white;
  background-color: black;
}

/* OR*/

.nav {
  color: white;

}

/* unvisited link */
a:link {
  font-weight: bold;
  color: #CC3333;
}

/* visited link */
a:visited {
  font-weight: bold;
  color: #CC3333;
}

/* mouse over link */
a:hover {
  font-weight: bold;
  color: hotpink;
}

/* selected link */
a:active {
  font-weight: bold;
  color: blue;
}

.demo-wrapper {
  width: 100% !important;
  display: block !important;
  margin-bottom: 25px !important;
  height: 250px !important;

}

.demo-editor {
  height: 125px !important;
  border: 1px solid #F1F1F1 !important;
  padding: 5px !important;
  border-radius: 2px !important;

}